In [24]:
import pandas as pd
import numpy as np
import re

In [25]:
df = pd.read_csv("ICRISAT-District Level Data - ICRISAT-District Level Data.csv")

In [26]:
df.shape

(16146, 80)

In [27]:
df.drop_duplicates(inplace=True)
df.dropna(axis=1,how='all',inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16146 entries, 0 to 16145
Data columns (total 80 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Dist Code                                    16146 non-null  int64
 1   Year                                         16146 non-null  int64
 2   State Code                                   16146 non-null  int64
 3   State Name                                   16146 non-null  object
 4   Dist Name                                    16146 non-null  object
 5   RICE AREA (1000 ha)                          16146 non-null  float64
 6   RICE PRODUCTION (1000 tons)                  16146 non-null  float64
 7   RICE YIELD (Kg per ha)                       16146 non-null  float64
 8   WHEAT AREA (1000 ha)                         16146 non-null  float64
 9   WHEAT PRODUCTION (1000 tons)                 16146 non-null  float64
 10  WHEAT YIELD (Kg per ha)                      16146 non-null  float64
 11  KHARIF SORGHUM AREA (1000 ha)                16146 non-null  float64
 12  KHARIF SORGHUM PRODUCTION (1000 tons)        16146 non-null  float64
 13  KHARIF SORGHUM YIELD (Kg per ha)             16146 non-null  float64
 14  RABI SORGHUM AREA (1000 ha)                  16146 non-null  float64
 15  RABI SORGHUM PRODUCTION (1000 tons)          16146 non-null  float64
 16  RABI SORGHUM YIELD (Kg per ha)               16146 non-null  float64
 17  SORGHUM AREA (1000 ha)                       16146 non-null  float64
 18  SORGHUM PRODUCTION (1000 tons)               16146 non-null  float64
 19  SORGHUM YIELD (Kg per ha)                    16146 non-null  float64
 20  PEARL MILLET AREA (1000 ha)                  16146 non-null  float64
 21  PEARL MILLET PRODUCTION (1000 tons)          16146 non-null  float64
 22  PEARL MILLET YIELD (Kg per ha)               16146 non-null  float64
 23  MAIZE AREA (1000 ha)                         16146 non-null  float64
 24  MAIZE PRODUCTION (1000 tons)                 16146 non-null  float64
 25  MAIZE YIELD (Kg per ha)                      16146 non-null  float64
 26  FINGER MILLET AREA (1000 ha)                 16146 non-null  float64
 27  FINGER MILLET PRODUCTION (1000 tons)         16146 non-null  float64
 28  FINGER MILLET YIELD (Kg per ha)              16146 non-null  float64
 29  BARLEY AREA (1000 ha)                        16146 non-null  float64
 30  BARLEY PRODUCTION (1000 tons)                16146 non-null  float64
 31  BARLEY YIELD (Kg per ha)                     16146 non-null  float64
 32  CHICKPEA AREA (1000 ha)                      16146 non-null  float64
 33  CHICKPEA PRODUCTION (1000 tons)              16146 non-null  float64
 34  CHICKPEA YIELD (Kg per ha)                   16146 non-null  float64
 35  PIGEONPEA AREA (1000 ha)                     16146 non-null  float64
 36  PIGEONPEA PRODUCTION (1000 tons)             16146 non-null  float64
 37  PIGEONPEA YIELD (Kg per ha)                  16146 non-null  float64
 38  MINOR PULSES AREA (1000 ha)                  16146 non-null  float64
 39  MINOR PULSES PRODUCTION (1000 tons)          16146 non-null  float64
 40  MINOR PULSES YIELD (Kg per ha)               16146 non-null  float64
 41  GROUNDNUT AREA (1000 ha)                     16146 non-null  float64
 42  GROUNDNUT PRODUCTION (1000 tons)             16146 non-null  float64
 43  GROUNDNUT YIELD (Kg per ha)                  16146 non-null  float64
 44  SESAMUM AREA (1000 ha)                       16146 non-null  float64
 45  SESAMUM PRODUCTION (1000 tons)               16146 non-null  float64
 46  SESAMUM YIELD (Kg per ha)                    16146 non-null  float64
 47  RAPESEED AND MUSTARD AREA (1000 ha)          16146 non-null  float64
 48  RAPESEED AND MUSTARD PRODUCTION (1000 tons)  16146 non-null  float64
 49  RAPESEED AND MUSTARD YIELD (Kg per ha)       16146 non-null  float64
 50  SAFFLOWER AREA (1000 ha)                     16146 non-null  float64
 51  SAFFLOWER PRODUCTION (1000 tons)             16146 non-null  float64
 52  SAFFLOWER YIELD (Kg per ha)                  16146 non-null  float64
 53  CASTOR AREA (1000 ha)                        16146 non-null  float64
 54  CASTOR PRODUCTION (1000 tons)                16146 non-null  float64
 55  CASTOR YIELD (Kg per ha)                     16146 non-null  float64
 56  LINSEED AREA (1000 ha)                       16146 non-null  float64
 57  LINSEED PRODUCTION (1000 tons)               16146 non-null  float64
 58  LINSEED YIELD (Kg per ha)                    16146 non-null  float64
 59  SUNFLOWER AREA (1000 ha)                     16146 non-null  float64
 60  SUNFLOWER PRODUCTION (1000 tons)             16146 non-null  float64
 61  SUNFLOWER YIELD (Kg per ha)                  16146 non-null  float64
 62  SOYABEAN AREA (1000 ha)                      16146 non-null  float64
 63  SOYABEAN PRODUCTION (1000 tons)              16146 non-null  float64
 64  SOYABEAN YIELD (Kg per ha)                   16146 non-null  float64
 65  OILSEEDS AREA (1000 ha)                      16146 non-null  float64
 66  OILSEEDS PRODUCTION (1000 tons)              16146 non-null  float64
 67  OILSEEDS YIELD (Kg per ha)                   16146 non-null  float64
 68  SUGARCANE AREA (1000 ha)                     16146 non-null  float64
 69  SUGARCANE PRODUCTION (1000 tons)             16146 non-null  float64
 70  SUGARCANE YIELD (Kg per ha)                  16146 non-null  float64
 71  COTTON AREA (1000 ha)                        16146 non-null  float64
 72  COTTON PRODUCTION (1000 tons)                16146 non-null  float64
 73  COTTON YIELD (Kg per ha)                     16146 non-null  float64
 74  FRUITS AREA (1000 ha)                        16146 non-null  float64
 75  VEGETABLES AREA (1000 ha)                    16146 non-null  float64
 76  FRUITS AND VEGETABLES AREA (1000 ha)         16146 non-null  float64
 77  POTATOES AREA (1000 ha)                      16146 non-null  float64
 78  ONION AREA (1000 ha)                         16146 non-null  float64
 79  FODDER AREA (1000 ha)                        16146 non-null  float64
dtypes: float64(75), int64(3), object(2)
memory usage: 9.9+ MB

In [29]:
df.columns = [re.sub(r"[ ,()]","_",col) for col in df.columns] 
df.columns = [re.sub(r"_+","_",col) for col in df.columns]
df.columns = [re.sub(r"_$","",col) for col in df.columns]

In [30]:
df.head()

,Dist_Code,Year,State_Code,State_Name,Dist_Name,RICE_AREA_1000_ha,RICE_PRODUCTION_1000_tons,RICE_YIELD_Kg_per_ha,WHEAT_AREA_1000_ha,WHEAT_PRODUCTION_1000_tons,...,SUGARCANE_YIELD_Kg_per_ha,COTTON_AREA_1000_ha,COTTON_PRODUCTION_1000_tons,COTTON_YIELD_Kg_per_ha,FRUITS_AREA_1000_ha,VEGETABLES_AREA_1000_ha,FRUITS_AND_VEGETABLES_AREA_1000_ha,POTATOES_AREA_1000_ha,ONION_AREA_1000_ha,FODDER_AREA_1000_ha
0,1,1966,14,Chhattisgarh,Durg,548.0,185.0,337.59,44.0,20.0,...,1777.78,0.0,0.0,0.0,5.95,6.64,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.0,409.0,747.71,50.0,26.0,...,1500.00,0.0,0.0,0.0,5.77,7.24,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.3,468.0,841.27,53.7,30.0,...,1000.00,0.0,0.0,0.0,5.41,7.40,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.4,400.8,711.40,49.4,26.5,...,1900.00,0.0,0.0,0.0,5.52,7.16,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.6,473.6,828.55,44.2,29.0,...,2000.00,0.0,0.0,0.0,5.45,7.19,12.64,0.02,0.52,0.42

In [31]:
df.drop(['SORGHUM_AREA_1000_ha','SORGHUM_PRODUCTION_1000_tons','SORGHUM_YIELD_Kg_per_ha'],axis=1,inplace=True)
df.drop(['BARLEY_AREA_1000_ha','BARLEY_PRODUCTION_1000_tons','BARLEY_YIELD_Kg_per_ha'],axis=1,inplace=True)
df.drop(['CHICKPEA_AREA_1000_ha','CHICKPEA_PRODUCTION_1000_tons','CHICKPEA_YIELD_Kg_per_ha'],axis=1,inplace=True)
df.drop(['PIGEONPEA_AREA_1000_ha','PIGEONPEA_PRODUCTION_1000_tons','PIGEONPEA_YIELD_Kg_per_ha'],axis=1,inplace=True)
df.drop(['MINOR_PULSES_AREA_1000_ha','MINOR_PULSES_PRODUCTION_1000_tons','MINOR_PULSES_YIELD_Kg_per_ha'],axis=1,inplace=True)
df.drop(['SESAMUM_AREA_1000_ha','SESAMUM_PRODUCTION_1000_tons','SESAMUM_YIELD_Kg_per_ha'],axis=1,inplace=True)
df.drop(['RAPESEED_AND_MUSTARD_AREA_1000_ha','RAPESEED_AND_MUSTARD_PRODUCTION_1000_tons','RAPESEED_AND_MUSTARD_YIELD_Kg_per_ha'],axis=1,inplace=True)
df.drop(['SAFFLOWER_AREA_1000_ha','SAFFLOWER_PRODUCTION_1000_tons','SAFFLOWER_YIELD_Kg_per_ha'],axis=1,inplace=True)
df.drop(['CASTOR_AREA_1000_ha','CASTOR_PRODUCTION_1000_tons','CASTOR_YIELD_Kg_per_ha'],axis=1,inplace=True)
df.drop(['LINSEED_AREA_1000_ha','LINSEED_PRODUCTION_1000_tons','LINSEED_YIELD_Kg_per_ha'],axis=1,inplace=True)
df.drop(['FRUITS_AREA_1000_ha','VEGETABLES_AREA_1000_ha','FRUITS_AND_VEGETABLES_AREA_1000_ha','POTATOES_AREA_1000_ha','ONION_AREA_1000_ha','FODDER_AREA_1000_ha'],axis=1,inplace=True)
df.drop(['Dist_Code','State_Code'],axis=1,inplace=True)

In [32]:
df.shape

(16146, 42)

In [33]:
df.describe()

,Year,RICE_AREA_1000_ha,RICE_PRODUCTION_1000_tons,RICE_YIELD_Kg_per_ha,WHEAT_AREA_1000_ha,WHEAT_PRODUCTION_1000_tons,WHEAT_YIELD_Kg_per_ha,KHARIF_SORGHUM_AREA_1000_ha,KHARIF_SORGHUM_PRODUCTION_1000_tons,KHARIF_SORGHUM_YIELD_Kg_per_ha,...,SOYABEAN_YIELD_Kg_per_ha,OILSEEDS_AREA_1000_ha,OILSEEDS_PRODUCTION_1000_tons,OILSEEDS_YIELD_Kg_per_ha,SUGARCANE_AREA_1000_ha,SUGARCANE_PRODUCTION_1000_tons,SUGARCANE_YIELD_Kg_per_ha,COTTON_AREA_1000_ha,COTTON_PRODUCTION_1000_tons,COTTON_YIELD_Kg_per_ha
count,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,...,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.00000,16146.000000,16146.000000,16146.000000
mean,1991.496841,128.593192,224.889565,1486.924784,77.057946,182.012746,1492.419859,22.632268,18.358094,586.031073,...,242.960655,66.740024,50.909822,593.659625,11.905851,75.511777,4500.15306,28.018367,7.229225,124.644823
std,15.011185,160.078825,326.629828,956.185281,100.394479,348.834254,1081.255367,45.062714,44.453630,559.245874,...,467.451528,94.033750,99.834037,673.280027,29.590148,198.815998,3153.97042,74.239648,25.042132,207.681147
min,1966.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,-1.000000,-1.000000,-1.000000
25%,1978.000000,10.400000,9.460000,800.000000,1.770000,2.000000,750.000000,0.000000,0.000000,0.000000,...,0.000000,7.950000,0.730000,199.362500,0.140000,0.452500,2000.00000,0.000000,0.000000,0.000000
50%,1991.000000,66.800000,95.840000,1333.210000,36.800000,42.700000,1347.450000,2.050000,1.200000,544.925000,...,0.000000,32.880000,13.200000,536.260000,1.730000,7.240000,4502.21000,0.050000,0.000000,0.000000
75%,2005.000000,191.390000,315.715000,2113.517500,123.000000,215.192500,2131.580000,20.900000,14.100000,962.250000,...,246.287500,82.200000,52.400000,852.445000,9.000000,50.200000,6704.60500,10.097500,2.000000,202.270000
max,2017.000000,1154.230000,3215.010000,5653.830000,879.490000,4305.500000,5541.520000,334.800000,604.700000,6531.250000,...,3884.060000,951.240000,1712.920000,25500.000000,342.410000,3252.900000,22062.30000,800.890000,376.610000,5000.000000

In [34]:
#Changing the negative values to nan
num_cols = df.select_dtypes(include=[np.number]).columns
df[num_cols] = df[num_cols].applymap(lambda x: np.nan if x < 0 else x)

C:\Users\91944\AppData\Local\Temp\ipykernel_18600\3857778924.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[num_cols] = df[num_cols].applymap(lambda x: np.nan if x < 0 else x)

In [35]:
def fix_crop_values(df, crop_name):
    area = f"{crop_name}_AREA_1000_ha"
    prod = f"{crop_name}_PRODUCTION_1000_tons"
    yld = f"{crop_name}_YIELD_Kg_per_ha"
    
    # Case 1: area > 0 & production > 0 → calculate yield
    mask1 = (df[area] > 0) & (df[prod] > 0)
    df.loc[mask1, yld] = (df.loc[mask1, prod] * 1000) / df.loc[mask1, area]
    
    # Case 2: area = 0 & production = 0 → yield = 0
    mask2 = (df[area] == 0) & (df[prod] == 0)
    df.loc[mask2, yld] = 0
    
    # Case 3: area = 0 & production > 0 → impossible → set all to NaN
    mask3 = (df[area] == 0) & (df[prod] > 0)
    df.loc[mask3, [area, prod, yld]] = np.nan
    
    # Case 4: area > 0 & production = 0 → crop failure/missing → yield = 0
    mask4 = (df[area] > 0) & (df[prod] == 0)
    df.loc[mask4, yld] = 0
    
    return df

In [36]:
crops = ["RICE","WHEAT","KHARIF_SORGHUM","RABI_SORGHUM","PEARL_MILLET","MAIZE","FINGER_MILLET","GROUNDNUT","SUNFLOWER","SOYABEAN","OILSEEDS","SUGARCANE","COTTON"]
for crop in crops:
    df = fix_crop_values(df, crop)

In [37]:
#Filling median value
def fill_statewise_median(df, crop):
    area = f"{crop}_AREA_1000_ha"
    prod = f"{crop}_PRODUCTION_1000_tons"
    yld  = f"{crop}_YIELD_Kg_per_ha"
    
    # fill area, production, yield with median grouped by state
    df[area] = df.groupby("State_Name")[area].transform(
        lambda x: x.fillna(x.median())
    )
    df[prod] = df.groupby("State_Name")[prod].transform(
        lambda x: x.fillna(x.median())
    )
    df[yld] = df.groupby("State_Name")[yld].transform(
        lambda x: x.fillna(x.median())
    )
    
    return df

In [38]:
crops = ["RICE","WHEAT","KHARIF_SORGHUM","RABI_SORGHUM","PEARL_MILLET","MAIZE","FINGER_MILLET","GROUNDNUT","SUNFLOWER","SOYABEAN","OILSEEDS","SUGARCANE","COTTON"]
for crop in crops:
    df = fill_statewise_median(df, crop)

In [39]:
def recalc_yield(df, crop):
    area = f"{crop}_AREA_1000_ha"
    prod = f"{crop}_PRODUCTION_1000_tons"
    yld = f"{crop}_YIELD_Kg_per_ha"

    valid = (df[area] > 0 ) & (df[prod] > 0 )

    df.loc[valid, yld] = (df.loc[valid, prod] * 1000) / df.loc[valid, area]

    return df

In [40]:
crops = ["RICE","WHEAT","KHARIF_SORGHUM","RABI_SORGHUM","PEARL_MILLET","MAIZE","FINGER_MILLET","GROUNDNUT","SUNFLOWER","SOYABEAN","OILSEEDS","SUGARCANE","COTTON"]
for crop in crops:
    df = recalc_yield(df, crop)

In [41]:
df2=df.copy()

In [42]:
df2.shape

(16146, 42)

In [43]:
df2.to_csv('Agriculrural_data.csv',index=False)