In [1]:
import pandas as pd
import pymysql

In [3]:
df = pd.read_csv("Agriculrural_data.csv")

In [5]:
myconnection = pymysql.connect(host = 'localhost',user='root',passwd = '1989')

cursor = myconnection.cursor()

cursor.execute("create database agricultural_db")

ProgrammingError: (1007, "Can't create database 'agricultural_db'; database exists")

In [7]:
cursor.execute("use agricultural_db")

0

In [11]:
cursor.execute("""CREATE TABLE IF NOT EXISTS agriculture(
id INT AUTO_INCREMENT PRIMARY KEY,
Year INT,
State_Name VARCHAR(100),
Dist_Name VARCHAR(100),
RICE_AREA_1000_ha DECIMAL(12,2),
RICE_PRODUCTION_1000_tons DECIMAL(12,2),
RICE_YIELD_Kg_per_ha DECIMAL(12,2),
WHEAT_AREA_1000_ha DECIMAL(12,2),
WHEAT_PRODUCTION_1000_tons DECIMAL(12,2),
WHEAT_YIELD_Kg_per_ha DECIMAL(12,2),
KHARIF_SORGHUM_AREA_1000_ha DECIMAL(12,2),
KHARIF_SORGHUM_PRODUCTION_1000_tons DECIMAL(12,2),
KHARIF_SORGHUM_YIELD_Kg_per_ha DECIMAL(12,2),
RABI_SORGHUM_AREA_1000_ha DECIMAL(12,2),
RABI_SORGHUM_PRODUCTION_1000_tons DECIMAL(12,2),
RABI_SORGHUM_YIELD_Kg_per_ha DECIMAL(12,2),
PEARL_MILLET_AREA_1000_ha DECIMAL(12,2),
PEARL_MILLET_PRODUCTION_1000_tons DECIMAL(12,2),
PEARL_MILLET_YIELD_Kg_per_ha DECIMAL(12,2),
MAIZE_AREA_1000_ha DECIMAL(12,2),
MAIZE_PRODUCTION_1000_tons DECIMAL(12,2),
MAIZE_YIELD_Kg_per_ha DECIMAL(12,2),
FINGER_MILLET_AREA_1000_ha DECIMAL(12,2),
FINGER_MILLET_PRODUCTION_1000_tons DECIMAL(12,2),
FINGER_MILLET_YIELD_Kg_per_ha DECIMAL(12,2),
GROUNDNUT_AREA_1000_ha DECIMAL(12,2),
GROUNDNUT_PRODUCTION_1000_tons DECIMAL(12,2),
GROUNDNUT_YIELD_Kg_per_ha DECIMAL(12,2),
SUNFLOWER_AREA_1000_ha DECIMAL(12,2),
SUNFLOWER_PRODUCTION_1000_tons DECIMAL(12,2),
SUNFLOWER_YIELD_Kg_per_ha DECIMAL(12,2),
SOYABEAN_AREA_1000_ha DECIMAL(12,2),
SOYABEAN_PRODUCTION_1000_tons DECIMAL(12,2),
SOYABEAN_YIELD_Kg_per_ha DECIMAL(12,2),
OILSEEDS_AREA_1000_ha DECIMAL(12,2),
OILSEEDS_PRODUCTION_1000_tons DECIMAL(12,2),
OILSEEDS_YIELD_Kg_per_ha DECIMAL(12,2),
SUGARCANE_AREA_1000_ha DECIMAL(12,2),
SUGARCANE_PRODUCTION_1000_tons DECIMAL(12,2),
SUGARCANE_YIELD_Kg_per_ha DECIMAL(12,2),
COTTON_AREA_1000_ha DECIMAL(12,2),
COTTON_PRODUCTION_1000_tons DECIMAL(12,2),
COTTON_YIELD_Kg_per_ha DECIMAL(12,2)
)""")
print("Table created Successfully")

Table created Successfully

In [12]:
sql_insert = """INSERT INTO agriculture(Year,State_Name,Dist_Name,RICE_AREA_1000_ha,
       RICE_PRODUCTION_1000_tons,RICE_YIELD_Kg_per_ha,
       WHEAT_AREA_1000_ha,WHEAT_PRODUCTION_1000_tons,
       WHEAT_YIELD_Kg_per_ha,KHARIF_SORGHUM_AREA_1000_ha,
       KHARIF_SORGHUM_PRODUCTION_1000_tons,KHARIF_SORGHUM_YIELD_Kg_per_ha,
       RABI_SORGHUM_AREA_1000_ha,RABI_SORGHUM_PRODUCTION_1000_tons,
       RABI_SORGHUM_YIELD_Kg_per_ha,PEARL_MILLET_AREA_1000_ha,
       PEARL_MILLET_PRODUCTION_1000_tons,PEARL_MILLET_YIELD_Kg_per_ha,
       MAIZE_AREA_1000_ha,MAIZE_PRODUCTION_1000_tons,
       MAIZE_YIELD_Kg_per_ha,FINGER_MILLET_AREA_1000_ha,
       FINGER_MILLET_PRODUCTION_1000_tons,FINGER_MILLET_YIELD_Kg_per_ha,
       GROUNDNUT_AREA_1000_ha,GROUNDNUT_PRODUCTION_1000_tons,
       GROUNDNUT_YIELD_Kg_per_ha,SUNFLOWER_AREA_1000_ha,
       SUNFLOWER_PRODUCTION_1000_tons,SUNFLOWER_YIELD_Kg_per_ha,
       SOYABEAN_AREA_1000_ha,SOYABEAN_PRODUCTION_1000_tons,
       SOYABEAN_YIELD_Kg_per_ha,OILSEEDS_AREA_1000_ha,
       OILSEEDS_PRODUCTION_1000_tons,OILSEEDS_YIELD_Kg_per_ha,
       SUGARCANE_AREA_1000_ha,SUGARCANE_PRODUCTION_1000_tons,
       SUGARCANE_YIELD_Kg_per_ha,COTTON_AREA_1000_ha,
       COTTON_PRODUCTION_1000_tons,COTTON_YIELD_Kg_per_ha)
VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""




for i, row in df.iterrows():
    cursor.execute(sql_insert, (row['Year'],row['State_Name'],row['Dist_Name'],row['RICE_AREA_1000_ha'],
       row['RICE_PRODUCTION_1000_tons'],row['RICE_YIELD_Kg_per_ha'],
       row['WHEAT_AREA_1000_ha'],row['WHEAT_PRODUCTION_1000_tons'],
       row['WHEAT_YIELD_Kg_per_ha'],row['KHARIF_SORGHUM_AREA_1000_ha'],
       row['KHARIF_SORGHUM_PRODUCTION_1000_tons'],row['KHARIF_SORGHUM_YIELD_Kg_per_ha'],
       row['RABI_SORGHUM_AREA_1000_ha'],row['RABI_SORGHUM_PRODUCTION_1000_tons'],
       row['RABI_SORGHUM_YIELD_Kg_per_ha'],row['PEARL_MILLET_AREA_1000_ha'],
       row['PEARL_MILLET_PRODUCTION_1000_tons'],row['PEARL_MILLET_YIELD_Kg_per_ha'],
       row['MAIZE_AREA_1000_ha'],row['MAIZE_PRODUCTION_1000_tons'],
       row['MAIZE_YIELD_Kg_per_ha'],row['FINGER_MILLET_AREA_1000_ha'],
       row['FINGER_MILLET_PRODUCTION_1000_tons'],row['FINGER_MILLET_YIELD_Kg_per_ha'],
       row['GROUNDNUT_AREA_1000_ha'],row['GROUNDNUT_PRODUCTION_1000_tons'],
       row['GROUNDNUT_YIELD_Kg_per_ha'],row['SUNFLOWER_AREA_1000_ha'],
       row['SUNFLOWER_PRODUCTION_1000_tons'],row['SUNFLOWER_YIELD_Kg_per_ha'],
       row['SOYABEAN_AREA_1000_ha'],row['SOYABEAN_PRODUCTION_1000_tons'],
       row['SOYABEAN_YIELD_Kg_per_ha'],row['OILSEEDS_AREA_1000_ha'],
       row['OILSEEDS_PRODUCTION_1000_tons'],row['OILSEEDS_YIELD_Kg_per_ha'],
       row['SUGARCANE_AREA_1000_ha'],row['SUGARCANE_PRODUCTION_1000_tons'],
       row['SUGARCANE_YIELD_Kg_per_ha'],row['COTTON_AREA_1000_ha'],
       row['COTTON_PRODUCTION_1000_tons'],row['COTTON_YIELD_Kg_per_ha']))
print("Inserted successfully")

Inserted successfully

In [13]:
cursor.execute("SELECT * FROM agriculture")

16146

In [14]:
myconnection.commit()

cursor.close()
myconnection.close()